.2_5 { 
	overflow:hidden;
}.e2_5 { 
	background-color:rgba(248.62500607967377, 215.80653190612793, 43.5093829035759, 1);
	width:1463px;
	height:2030px;
	position:absolute;
}.e21_156 { 
	color:rgba(0, 0, 0, 1);
	width:914px;
	height:239px;
	position:absolute;
	left:54px;
	top:132px;
	font-family:Roboto;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}.e46_36 { 
	width:566px;
	height:280px;
	position:absolute;
	left:569px;
	top:606px;
}.e46_35 { 
	width:566px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}.e22_14 { 
	color:rgba(0, 0, 0, 1);
	width:546px;
	height:40px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e46_37 { 
	width:566px;
	height:60px;
	position:absolute;
	left:0px;
	top:60px;
}.e46_38 { 
	color:rgba(0, 0, 0, 1);
	width:546px;
	height:40px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e46_39 { 
	width:566px;
	height:60px;
	position:absolute;
	left:0px;
	top:120px;
}.e46_40 { 
	color:rgba(0, 0, 0, 1);
	width:546px;
	height:40px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e46_41 { 
	width:566px;
	height:100px;
	position:absolute;
	left:0px;
	top:180px;
}.e46_42 { 
	color:rgba(0, 0, 0, 1);
	width:546px;
	height:80px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e22_12 { 
	color:rgba(0, 0, 0, 1);
	width:197px;
	height:36px;
	position:absolute;
	left:579px;
	top:563px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e22_2 { 
	color:rgba(255, 250.75000405311584, 250.75000405311584, 1);
	width:806px;
	height:218px;
	position:absolute;
	left:42px;
	top:270px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e22_3 { 
	width:390px;
	height:466.5322570800781px;
	position:absolute;
	left:1017px;
	top:96px;
}.22_4 { 
	overflow:hidden;
}.e22_4 { 
	background-color:rgba(255, 77.00000301003456, 149.00000631809235, 1);
	width:390px;
	height:466.5322570800781px;
	position:absolute;
	left:0px;
	top:0px;
}.e22_5 { 
	border-radius:500px;
	background-color:rgba(249.00000035762787, 216.00000232458115, 43.00000123679638, 1);
	width:390px;
	height:390px;
	position:absolute;
	left:0px;
	top:76.53228759765625px;
}.e22_6 { 
	width:427px;
	height:472px;
	position:absolute;
	left:-30px;
	top:0px;
	background-image:url(images/flamingoemoji_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e22_8 { 
	width:503px;
	height:330px;
	position:absolute;
	left:54px;
	top:563px;
	background-image:url(images/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e24_16 { 
	color:rgba(174.25000101327896, 60.9875026345253, 60.9875026345253, 1);
	width:205px;
	height:48px;
	position:absolute;
	left:95px;
	top:1365px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e26_17 { 
	color:rgba(161.49999797344208, 37.683337926864624, 37.683337926864624, 1);
	width:709px;
	height:48px;
	position:absolute;
	left:42px;
	top:982px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e26_18 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:225px;
	height:161px;
	position:absolute;
	left:80px;
	top:1126px;
}.e26_19 { 
	color:rgba(0, 0, 0, 1);
	width:178px;
	height:161px;
	position:absolute;
	left:101px;
	top:1126px;
	font-family:Open Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e26_20 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:229px;
	height:135px;
	position:absolute;
	left:342px;
	top:1139px;
}.e26_25 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:229px;
	height:135px;
	position:absolute;
	left:646px;
	top:1139px;
}.e26_24 { 
	color:rgba(0, 0, 0, 1);
	width:56px;
	height:56px;
	position:absolute;
	left:393px;
	top:1183px;
	font-family:Open Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e26_26 { 
	color:rgba(0, 0, 0, 1);
	width:56px;
	height:56px;
	position:absolute;
	left:695px;
	top:1183px;
	font-family:Open Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e26_27 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:216px;
	height:160px;
	position:absolute;
	left:947px;
	top:1127px;
}.e26_28 { 
	color:rgba(0, 0, 0, 1);
	width:106px;
	height:56px;
	position:absolute;
	left:980px;
	top:1173px;
	font-family:Open Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e26_29 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:269px;
	height:209px;
	position:absolute;
	left:75px;
	top:1465px;
}.e26_33 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:269px;
	height:209px;
	position:absolute;
	left:412px;
	top:1465px;
}.e26_34 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:269px;
	height:209px;
	position:absolute;
	left:743px;
	top:1465px;
}.e26_35 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:269px;
	height:209px;
	position:absolute;
	left:1044px;
	top:1465px;
}.e26_31 { 
	color:rgba(0, 0, 0, 1);
	width:118px;
	height:12px;
	position:absolute;
	left:109px;
	top:1491px;
	font-family:Open Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e27_45 { 
	border-radius:500px;
	background-color:rgba(121.2046954035759, 187.46324479579926, 248.62500607967377, 1);
	width:64px;
	height:64px;
	position:absolute;
	left:649px;
	top:1840px;
}.e27_36 { 
	width:46px;
	height:46px;
	position:absolute;
	left:659px;
	top:1849px;
}.e27_41 { 
	width:46px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:0.15000000596046448px;
	border-top-right-radius:0.15000000596046448px;
	border-bottom-left-radius:0.15000000596046448px;
	border-bottom-right-radius:0.15000000596046448px;
}.e27_42 { 
	background-color:rgba(255, 255, 255, 1);
	width:38.33333206176758px;
	height:30.666664123535156px;
	position:absolute;
	left:3.833332061767578px;
	top:7.666666030883789px;
	border-radius:0.15000000596046448px;
}.e32_3 { 
	background-color:rgba(247.5624918937683, 136.15937054157257, 136.15937054157257, 1);
	width:1463px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.e32_4 { 
	color:rgba(255, 255, 255, 1);
	width:65px;
	height:24px;
	position:absolute;
	left:42px;
	top:29px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e32_6 { 
	color:rgba(255, 255, 255, 1);
	width:190px;
	height:24px;
	position:absolute;
	left:156px;
	top:29px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e32_8 { 
	color:rgba(255, 255, 255, 1);
	width:61px;
	height:24px;
	position:absolute;
	left:394px;
	top:29px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}